<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>规则编辑</title>
    <link rel="stylesheet" type="text/css" href="../../../..//res/libs/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../../..//res/libs/zTree/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" type="text/css" href="../../../..//res/dsf_styles/dsf_style.css" />
    <link rel="stylesheet" type="text/css" href="../../../..//res/dsf_styles/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../../..//res/dsf_styles/bhc.css" />
    <link rel="stylesheet" type="text/css" href="../hc/edit.ext.css" />
</head>
<body>
    <div id="view" ></div>
    <script src="../../../..//res/libs/jquery-1.12.4.min.js"></script>
    <script src="../../../..//res/libs/layui/layui.all.js"></script>
    <script src="../../../..//res/libs/lodash/lodash.min.js"></script>
    <!-- <script src="../../../..//res/libs/zTree/js/jquery.ztree.all.min.js"></script> -->
    <script src="../../../..//app.js"></script>
    <script src="../../../..//res/dsf_res/dsf_config.js"></script>
    <script src="../../../..//res/dsf_res/dsf_common.js"></script>
    <script src="../../../..//dsfa/bhc/hc/bhc.js"></script>
    <script src="../hc/edit.layout.js?i=b14d603303c84102a0479cf2576e15ff"></script>
    <script src="../../../..//dsfa/bhc/scripts/page.init.js"></script>
    <script src="../hc/edit.ext.js"></script>
    <script src="../hc/edit.ev.js"></script>

</body>

</html>