<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>栏目权限管理</title>
    <link rel="stylesheet" type="text/css" href="/dsfa/res/libs/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/dsfa/res/libs/zTree/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" type="text/css" href="/dsfa/res/dsf_styles/dsf_style.css" />
    <link rel="stylesheet" type="text/css" href="/dsfa/res/dsf_styles/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/dsfa/res/dsf_styles/bhc.css" />
    <link rel="stylesheet" type="text/css" href="../hc/user.ext.css" />
</head>
<body>
    <div id="view" ></div>
    <script src="/dsfa/res/libs/jquery-1.12.4.min.js"></script>
    <script src="/dsfa/res/libs/layui/layui.all.js"></script>
    <script src="/dsfa/res/libs/lodash/lodash.min.js"></script>
    <!-- <script src="/dsfa/res/libs/zTree/js/jquery.ztree.all.min.js"></script> -->
    <script src="/dsfa/app.js"></script>
    <script src="/dsfa/res/dsf_res/dsf_config.js"></script>
    <script src="/dsfa/res/dsf_res/dsf_common.js"></script>
    <script src="/dsfa/dsfa/bhc/hc/bhc.js"></script>
    <script src="../hc/user.layout.js?i=fceba5e4befc4b8eb71904c58ed23e85"></script>
    <script src="/dsfa/dsfa/bhc/scripts/page.init.js"></script>
    <script src="../hc/user.ext.js"></script>

</body>

</html>