<!DOCTYPE html>
<html lang="en" ng-app="myApp">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>查询条件配置</title>
      <link rel="stylesheet" type="text/css" href="../../../res/libs/layui/css/layui.css" />
      <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/dsf_style.css" />
      <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/font/iconfont.css" />
      <link rel="stylesheet" type="text/css" href="../../../res/libs/zTree/css/zTreeStyle/zTreeStyle.css" />

      <style>
         body {
            height: auto;
         }

         .error {
            border: 1px solid red;
         }

         .form-control {
            box-sizing: border-box;
            width: 100%;
            min-height: 28px;
            padding-left: 5px;
            padding-right: 5px;
         }

         table>tbody td {
            padding: 5px !important;
         }

         .fl {
            width: 300px;
            float: left;
         }

         .fr {
            margin-left: 310px;
         }
      </style>
   </head>

   <body ng-controller="dataGridColumnEdit">
      <div class="layui-row" style="margin-top:10px">
         <div class="layui-col-xs6 layui-form" style="padding:0px 10px 0px 10px">
            <div class="layui-form-item" style="margin-bottom:0px;">
               <label class="layui-form-label">匹配方式</label>
               <div class="layui-input-block">
                  <select name="operator">
                     <option value="eq">等于</option>
                     <option value="in">包含</option>
                     <option value="like">匹配</option>
                     <option value="slike">匹配开始</option>
                     <option value="elike">匹配结束</option>
                     <option value="range">区间</option>
                  </select>
               </div>

            </div>
         </div>
      </div>
      <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief"
         style="position:absolute;top:38px;bottom:0px;width:100%;">
         <ul class="layui-tab-title">
            <li class="layui-this" type="1">自定义</li>
            <li type="2">组织架构元数据</li>
            <li type="3">数据字典</li>
            <li type="4">数据源</li>
         </ul>
         <div class="layui-tab-content"
            style="box-sizing: border-box; position: absolute;top:40px;bottom:0px;width:100%;overflow:auto;">
            <div class="layui-tab-item layui-show">

               <div class="layui-row" style="margin-top:10px">
                  <div class="layui-col-xs12">
                     <table class="layui-table" style="margin-top:0px;margin-bottom: 0px">
                        <thead>
                           <tr>
                              <th style="width:40px;text-align: center">序号</th>
                              <th style="width:100px;">选项文本</th>
                              <th>选项值</th>
                              <th style="width:100px;text-align: center">操作</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in items track by $index">
                              <td style="text-align: center">{{$index+1}}</td>
                              <td>
                                 <input class="form-control" type="text" ng-model="item.text" placeholder="选项标签的名称">
                              </td>
                              <td>
                                 <input class="form-control" type="text" ng-model="item.value" placeholder="多个值用;号分隔">
                              </td>
                              <td style="text-align: center">
                                 <a href="#" ng-click="up(item)">上移</a>
                                 <a href="#" ng-click="down(item)">下移</a>
                                 <a href="#" ng-click="deleteItem(item)">移除</a>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="layui-tab-item">
               <div class="fl">
                  <ul id="tree0" class="ztree"></ul>
               </div>
               <div class='fr'>
                  <table class="layui-table">
                     <thead>
                        <tr>
                           <th style="width:40px;text-align: center">序号</th>
                           <th style="width:100px;">名称</th>
                           <th>标识</th>
                           <th>操作</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="item in orangList track by $index">
                           <td style="text-align: center">{{$index+1}}</td>
                           <td>
                              <input class="form-control" type="text" ng-model="item.aliasName">
                           </td>
                           <td>
                              <div class="layui-table-cell">{{item.id}}</div>
                           </td>
                           <td style="text-align: center">
                              <!-- <a href="#" ng-click="up(item)">上移</a>
                              <a href="#" ng-click="down(item)">下移</a> -->
                              <a href="#" ng-click="deleteOrangItem(item)">移除</a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="layui-tab-item">
               <ul id="tree" class="ztree"></ul>
            </div>
            <div class="layui-tab-item">
               <ul id="tree1" class="ztree"></ul>
            </div>
         </div>
      </div>



      <script src="../../../res/libs/jquery-1.12.4.min.js"></script>
      <script src="../../../res/libs/layui/layui.all.js"></script>
      <script src="../../../res/libs/lodash/lodash.min.js"></script>
      <script src="../../../app.js"></script>
      <script src="../../../res/dsf_res/dsf_config.js"></script>
      <script src="../../../res/dsf_res/dsf_common.js"></script>
      <script src="../res/ds_prop.js"></script>
      <script src="../res/libs/angular/angular.min.js"></script>
      <script src="../../../res/libs/zTree/js/jquery.ztree.all.min.js"></script>
      <script>
         var app = angular.module('myApp', []);
         var dialogArgs = {};
         var tree0 = null,
            tree = null,
            tree1 = null,
            nodeList = [],
            TabNum = 0,
            nodeListOther = [],
            metaDataList = [],
            orangData = [];
         app.controller('dataGridColumnEdit', function ($scope) {
            $scope.args = null;
            $scope.last = null;
            $scope.items = [];
            $scope.orangList = [];
            $scope.deleteOrangItem = function (item) {
               var index = $scope.orangList.indexOf(item);
               if (index >= 0) {
                  $scope.orangList.splice(index, 1);
               }
            }
            $scope.deleteItem = function (item) {
               var index = $scope.items.indexOf(item);
               if (index >= 0) {
                  $scope.items.splice(index, 1);
               }
            }
            $scope.addNew = function () {
               $scope.items.push({
                  "text": "",
                  "value": ""
               });
            }
            $scope.clearItems = function () {
               $scope.items = [];
            }
            window.dialogInit = function (args) {
               console.log(args)
               orangData = args.orangData;

               dialogArgs = $scope.args = $.extend(true, {}, args.item);
               $scope.orangList = args.item.orangData || [];
               //自定义数据
               $scope.items = $scope.args.enumItems && $scope.args.enumItems.items ? $scope.args.enumItems
                  .items : [];
               $scope.$apply();

               if ($scope.args.enumItems) {
                  let operator = $scope.args.enumItems && $scope.args.enumItems.operator ? $scope.args
                     .enumItems.operator : "eq";
                  $("select[name=operator]").val(operator);
               } else {
                  let operator = $scope.args.dataSource && $scope.args.dataSource.operator ? $scope.args
                     .dataSource.operator : "eq";
                  $("select[name=operator]").val(operator);
               }
               layui.form.render("select");

               //数据字典
               loadTree();

               //加载当前tab
               if (!$scope.args.enumItems && $scope.args.dataSource && $scope.args.dataSource.type == "dict") {
                  $("li[type=2]").click();
               } else if (!$scope.args.enumItems && $scope.args.dataSource && $scope.args.dataSource.type ==
                  "dbsource") {
                  $("li[type=3]").click();
               }
            }
            window.getDialogResult = function () {
               var tab = $(".layui-tab .layui-this");
               if (tab.attr("type") == "1") {
                  if ($scope.items.length > 0) {
                     $scope.args.enumItems = {
                        "operator": $("select[name=operator]").val(),
                        "items": $scope.items
                     }
                  }
               } else if (tab.attr("type") == "3" || tab.attr("type") == "4") {
                  var nodes = tab.attr("type") == "2" ? nodes = tree.getCheckedNodes(true) : nodes = tree1
                     .getCheckedNodes(true);
                  if (nodes.length > 0) {
                     $scope.args.enumItems = null;
                     $scope.args.dataSource = {
                        code: nodes[0].dsfa_rm_id,
                        type: tab.attr("type") == "2" ? "dict" : "dbsource",
                        operator: $("select[name=operator]").val()
                     }
                  } else {
                     dsf.layer.message("请选择一个数据字典作为数据源", false);
                     return false;
                  }
               } else if (tab.attr("type") == "2") {
                  $scope.args.orangData = $scope.orangList;
               }
               return $scope.args;
            }
            window.addNew = function () {
               $scope.addNew();
               $scope.$apply();
            }
            window.clearItems = function () {
               dsf.layer.confirm("确定更要清空所有选项？", function () {
                  $scope.clearItems();
                  $scope.$apply();
               });
            }

            function loadTree() {
               tree0 = $.fn.zTree.init($("#tree0"), {
                  "view": {
                     "selectedMulti": false,
                     "fontCss": getFontCss
                  },
                  "check": {
                     "enable": true
                  },
                  "callback": {
                     "onCheck": zTree0OnCheck
                  }
               });
               tree = $.fn.zTree.init($("#tree"), {
                  "view": {
                     "selectedMulti": false,
                     "fontCss": getFontCss
                  },
                  "check": {
                     enable: true,
                     chkStyle: "radio",
                     radioType: "all"
                  },

                  "callback": {
                     "onClick": zTreeOnClick //,
                     // "onCheck": zTreeOnCheck
                  }
               });
               tree1 = $.fn.zTree.init($("#tree1"), {
                  "view": {
                     "selectedMulti": false,
                     "fontCss": getFontCss
                  },
                  "check": {
                     enable: true,
                     chkStyle: "radio",
                     radioType: "all"
                  },
                  "callback": {
                     "onClick": zTreeOnClick,
                     // "onCheck": zTreeOnCheck
                  }
               });

               var queue = dsf.queue(true);
               queue.step(function (def) {
                     if (orangData.type == 1) {
                        var id = orangData.data[0].dsfa_rm_id;
                        var dbUrl = dsf.url.getWebPath('dbsource/rmId?rmId=' + id);
                        dsf.http.request(dbUrl, {}, "GET")
                           .done(function (res) {
                              if (res.success) {
                                 var children = [];
                                 for (var i = 0; i < res.data.length; ++i) {
                                    for (let k in res.data[i].metadata) {
                                       let n = res.data[i].metadata[k];
                                       let n1 = {
                                          "name": n.name,
                                          "id": n.id,
                                          "order": n.order,
                                          "attr": n
                                       }
                                       children.push(n1);
                                    }
                                    children = children.sort(function (v1, v2) {
                                       if (v1.order > v2.order) {
                                          return 1;
                                       }
                                       return -1;
                                    })
                                    tree0.addNodes(null, children);
                                    tree0.expandAll(true);
                                 }
                              }
                              def.resolve();
                           })
                           .error(function (err) {
                              def.resolve();
                           })
                           .exec();
                     } else {
                        console.log('元数据');
                        var children = [];
                        for (let k in orangData.data) {
                           let n = orangData.data[k].data;
                           let n1 = {
                              "name": n.name,
                              "id": n.id,
                              "order": n.order,
                              "attr": n
                           }
                           children.push(n1);
                           children = children.sort(function (v1, v2) {
                              if (v1.order > v2.order) {
                                 return 1;
                              }
                              return -1;
                           })
                           console.log(children)
                           tree0.addNodes(null, children);
                           tree0.expandAll(true);
                        }
                        def.resolve();
                     }
                  })
                  .step(function (def) {
                     dsf.http.request(dsf.UrlSetting.get_dict, null, "GET")
                        .done(function (response) {
                           if (response.success) {
                              var nodes = response.data;
                              for (var i = 0; i < nodes.length; i++) {
                                 fn(nodes[i]);
                                 tree.addNodes(null, nodes[i]);
                              }
                              tree.expandAll(true);
                           }
                           def.resolve();
                        })
                        .error(function (response) {
                           def.resolve();
                        })
                        .exec();
                  })
                  .step(function (def) {
                     dsf.http.request(dsf.UrlSetting.design_sqlds, null, "GET")
                        .done(function (response) {
                           if (response.success) {
                              var nodes = response.data;
                              for (var i = 0; i < nodes.length; i++) {
                                 fn(nodes[i]);
                                 tree1.addNodes(null, nodes[i]);
                              }
                              tree1.expandAll(true);
                           }
                           def.resolve();
                        })
                        .error(function (response) {
                           def.resolve();
                        })
                        .exec();
                  })
                  .exec();
            }

            function getFontCss(treeId, treeNode) {
               return (!!treeNode.highlight) ? {
                  color: "#A60000",
                  "font-weight": "bold"
               } : {
                  color: "#333",
                  "font-weight": "normal"
               };
            }

            function zTreeOnClick(event, treeId, treeNode) {
               if (treeNode.type_value == "5" || treeNode.type_value == "8") {
                  window[treeId].checkNode(treeNode, !treeNode.checked, false, true);
               }
            }

            function fn(node) {
               if (dialogArgs.dataSource) {
                  if (node.dsfa_rm_id == dialogArgs.dataSource.code) {
                     node.checked = true;
                  }
               }

               if (node.type_value != "5" && node.type_value != "8") {
                  node.nocheck = true;
               }
               if (node.children) {
                  for (var i = 0; i < node.children.length; i++) {
                     fn(node.children[i]);
                  }
               }
            }

            function zTree0OnCheck(event, treeId, treeNode) {
               $scope.orangList = [];
               var result = [];
               if ($scope.orangList.length > 0) {
                  result = $scope.orangList.filter(function (v) {
                     return v.id == treeNode.id;
                  })
               }
               if (result.length > 0) {
                  $.extend(true, {}, result, treeNode.attr);
               } else {
                  treeNode.attr.queryType = "enum_multi";
                  treeNode.attr.aliasName = treeNode.attr.name;
                  var r = $.extend(true, {}, treeNode.attr);
                  $scope.orangList.push(r)
               }
               console.log($scope.orangList)
               $scope.$apply();
            }
         });
      </script>
   </body>

</html>