<!DOCTYPE html>
<html lang="en" ng-app='myApp'>

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
      <link rel="stylesheet" type="text/css" href="../../../res/libs/layui/css/layui.css" />
      <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/dsf_style.css" />
      <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/font/iconfont.css" />
      <link rel="stylesheet" type="text/css" href="../res/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="../res/components.css" />
      <link rel="stylesheet" type="text/css" href="../../../res/libs/zTree/css/zTreeStyle/zTreeStyle.css" />
      <style>
         tr>td:first-child {
            text-align: center;
         }

         ._special_ico_docu {
            margin-right: 2px !important;
            background-position: -110px -2px;
         }

         .ztree li span.button.chk {
            margin-left: 3px
         }

         .ztree li a {
            height: 20px !important;
            line-height: 20px;
         }

         .ztree li span {
            margin-top: 1px !important;
         }

         .content {
            box-sizing: border-box;
            height: 100%;
            overflow: hidden;
            border-bottom: 1px solid #eee;
         }

         .content>div {
            max-height: 450px;
            overflow: hidden;
            padding: 10px;
         }

         .fl {
            float: left;
            /* width: 41%; */
            height: 100%;
            border-right: 1px solid #f2f2f2;
            box-sizing: border-box;
         }

         .content>.fr {
            float: right;
            width: 59%;
            padding-right: 10px;
            overflow: auto;
         }

         .content>.fr .layui-table {
            margin: 0;
         }

         tr th:first-child,
         tr td:first-child {
            text-align: center;
         }

         .selected {
            background: #f2f2f2 !important;
            box-shadow: 0 0 10px #e2e2e2;
         }

         .layui-tab-content {
            height: 375px;
            overflow: scroll;
         }
      </style>
   </head>

   <body ng-controller='myController'>
      <div class="content">
         <div class="auto">
            <div class="ds_tree_box">
               <div class="ds_tree_search">
                  <input type="text" class="layui-input" placeholder="输入名称" id="search_input">
                  <i class="search iconfont layui-icon icon-Magnifier" id="search"></i>
               </div>
            </div>
            <div class="layui-tab layui-tab-brief" lay-filter="tabChange">
               <ul class="layui-tab-title">
                  <li class="layui-this" onclick="javascript:TabNum=0;">元数据</li>
                  <li onclick="javascript:TabNum=1;">数据源</li>
               </ul>
               <div class="layui-tab-content">
                  <div class="layui-tab-item layui-show">
                     <div class="ds_tree">
                        <ul id="tree" class="ztree"></ul>
                     </div>
                  </div>
                  <div class="layui-tab-item">
                     <div class="ds_tree">
                        <ul id="tree1" class="ztree"></ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="../../../res/libs/jquery-1.12.4.min.js"></script>
      <script src="../../../res/libs/layui/layui.all.js"></script>
      <script src="../../../res/libs/lodash/lodash.min.js"></script>
      <script src="../../../app.js"></script>
      <script src="../../../res/dsf_res/dsf_config.js"></script>
      <script src="../../../res/dsf_res/dsf_common.js"></script>
      <script src="../res/ds_prop.js"></script>
      <script src="../res/libs/angular/angular.min.js"></script>
      <script src="../../../dsfa/bhc/hc/bhc.js"></script>
      <script src="../../../res/libs/zTree/js/jquery.ztree.all.min.js"></script>
      <script>
         var treeObj = null;
         var loadingIndex = 0;
         var nodeList = [];
         var sjy = [];
         loadingIndex = dsf.layer.loadding();
         angular.module('myApp', []).controller('myController', function ($scope) {
            $scope.chooseMetaDataClass = {};
            $scope.chooseSmallData = [];
            window.dialogInit = function (args) {
               $scope.chooseMetaDataClass = {};
               if ($scope.chooseMetaDataClass.id && $scope.chooseMetaDataClass.id.indexOf('_') != -1) {
                  $scope.chooseSmallData = $scope.chooseMetaDataClass.id.split("_");
               }
               // 数据字典
               treeObj = $.fn.zTree.init($("#tree"), {
                  view: {
                     selectedMulti: false,
                     fontCss: getFontCss
                  },
                  check: {
                     enable: true,
                     chkStyle: "radio",
                     radioType: "all"
                  },
                  callback: {
                     onCheck: zTreeOnCheck,
                     onClick: zTreeOnClick
                  }
               });


               tree1 = $.fn.zTree.init($("#tree1"), {
                  view: {
                     selectedMulti: false,
                     fontCss: getFontCss
                  },
                  check: {
                     enable: true,
                     chkStyle: "radio",
                     radioType: "all"
                  },
                  callback: {
                     onCheck: zTree1OnCheck
                  }
               });
               //元数据
               dsf.http.request(dsf.UrlSetting.design_metadata, {
                     namespace: ""
                  }, "GET")
                  .done(function (response) {
                     function fn(data) {
                        if (data.name == '文档元数据') {}
                        let obj = {
                           "name": data.name,
                           "nocheck": data.type_value == "3" ? false : true,
                           "ID": data.ID,
                           "iconSkin": (!data.children && data.type_value != '3') ? '_special' : '',
                           "metadata": data.metadata
                        }
                        if (data.children) {
                           obj.children = [];
                           for (var i = 0; i < data.children.length; i++) {
                              var n = data.children[i];
                              let node = fn(n);
                              obj.children.push(node);
                           }
                        }
                        if (data.type_value == "3" && obj.ID == $scope.chooseMetaDataClass.at) {
                           obj.checked = true;
                           zTreeOnCheck("", "", obj);
                        }
                        return obj;
                     }
                     var nodes = [];
                     for (var i = 0; i < response.data.length; i++) {
                        let n = fn(response.data[i]);
                        nodes.push(n);
                     }
                     treeObj.addNodes(null, nodes);
                     treeObj.expandAll(true);
                     dsf.layer.close(loadingIndex);

                     if ($scope.chooseMetaDataClass.at) {
                        let node = treeObj.getNodesByParam('ID', $scope.chooseMetaDataClass.at);
                        if (node && node.length > 0) {
                           setTimeout(function () {
                              treeObj.selectNode(node[node.length - 1], false, false);
                           }, 500)
                        }
                     }
                  })
                  .error(function (response) {

                  })
                  .exec();
               //数据源
               dsf.http.request(dsf.UrlSetting.design_sqlds, {
                     namespace: ""
                  }, "GET")
                  .done(function (response) {
                     if (response.success) {
                        function fn(data) {
                           let obj = {
                              "name": data.name,
                              "nocheck": data.type_value == "8" ? false : true,
                              "ID": data.ID,
                              "iconSkin": (!data.children && data.type_value != '3') ? '_special' : '',
                              path: data.path,
                              dsfa_rm_id: data.dsfa_rm_id,
                              code: data.code,
                              treeinfo_globalid: data.treeinfo_globalid,
                              type_text: data.type_text,
                              treeinfo_pid: data.treeinfo_pid,
                              ID: data.ID
                           }
                           if (data.children) {
                              obj.children = [];
                              for (var i = 0; i < data.children.length; i++) {
                                 var n = data.children[i];
                                 let node = fn(n);
                                 obj.children.push(node);
                              }
                           }
                           if (data.type_value == "3" && obj.ID == $scope.chooseMetaData.at) {
                              obj.checked = true;
                              zTreeOnCheck("", "", obj);
                           }
                           return obj;
                        }
                        var nodes = [];
                        for (var i = 0; i < response.data.length; i++) {
                           let n = fn(response.data[i]);
                           nodes.push(n);
                        }
                        tree1.addNodes(null, nodes);
                        tree1.expandAll(true);
                        dsf.layer.close(loadingIndex);
                        // var nodes = response.data;
                        // function fn(nodes) {
                        //    for (let i = 0; i < nodes.length; i++) {
                        //       var node = nodes[i];
                        //       if (node.type_value != "3" && node.type_value != "8") {
                        //          node.nocheck = true;
                        //       }
                        //       if ((node.type_value != "3" && node.type_value != "8") && !node.children) {
                        //          node.iconSkin = '_special';
                        //       }
                        //       if (node.children) {
                        //          fn(node.children)
                        //       }
                        //    }
                        // }
                        // tree1.addNodes(null, nodes);
                        // tree1.expandAll(true)
                     } else {
                        dsf.layer.message(response.message, false);
                     }
                  })
                  .error(function (response) {})
                  .exec();
               $scope.$apply();
            }

            $scope.selected = function (tr) {
               if (tr.data.valueAttributes.length > 1) {
                  window.parent.dsf.layer.openDialog({
                     title: "请选择",
                     content: '../views/treeSelector_small.html',
                     area: ['500px', '550px'],
                     args: {
                        data: tr,
                        choose: $scope.chooseMetaDataClass
                     },
                     btn: [{
                        text: "确定",
                        handler: function (index, layer) {
                           console.log(layer);
                           $scope.$apply();
                        }
                     }, {
                        text: "取消",
                        handler: function (index, layero) {}
                     }]
                  });
               } else {
                  $scope.chooseSmallData = [];
                  $scope.chooseMetaDataClass = tr.data;
               }
            }

            window.getDialogResult = function () {
               if (JSON.stringify($scope.chooseMetaDataClass) == '{}') {
                  dsf.layer.message("请选择元数据组",
                     false)
                  return false;
               } else {
                  return $scope.chooseMetaDataClass;
               }
            }

            function zTreeOnCheck(event, treeId, treeNode) {
               let d = treeNode;
               let items = [];
               for (let k in d.metadata) {
                  items.push({
                     "text": d.metadata[k].name,
                     "value": d.metadata[k].id,
                     "data": d.metadata[k],
                     'id': d.metadata[k].ID
                  });
               }
               items = items.sort((v1, v2) => {
                  let order1 = v1.data.order ? parseInt(v1.data.order) : 0;
                  let order2 = v2.data.order ? parseInt(v2.data.order) : 0;
                  if (order1 < order2) {
                     return -1;
                  } else {
                     return 1;
                  }
               });
               $scope.data_table = items;
               $scope.chooseMetaDataClass = {
                  type: 0,
                  data: items
               };
               $scope.$apply();
            }

            function zTree1OnCheck(event, treeId, treeNode) {
               sjy = [];
               $scope.chooseMetaDataClass = [];
               sjy.push(treeNode);
               $scope.chooseMetaDataClass = {
                  type: 1,
                  data: sjy
               };
               $scope.$apply();
            }

            function zTreeOnClick(event, treeId, treeNode) {
               treeObj.checkNode(treeNode, !treeNode.checked);
               zTreeOnCheck(event, treeId, treeNode);
            }
            $scope.search = function () {
               updateNodes(false);
               if ($scope.searchName == '' || !$scope.searchName) return;
               nodeList = treeObj.getNodesByParamFuzzy('name', $scope.searchName);
               if (nodeList.length > 0) treeObj.selectNode(nodeList[0], false, false);
               updateNodes(true);
            }

            $scope.myKeyup = function (e) {
               var keycode = window.event ? e.keyCode : e.which;
               if (keycode == 13) {
                  $scope.search();
               }
            };

            function getFontCss(treeId, treeNode) {
               return (!!treeNode.highlight) ? {
                  color: "#A60000",
                  "font-weight": "bold"
               } : {
                  color: "#333",
                  "font-weight": "normal"
               };
            }

            function updateNodes(highlight) {
               for (var i = 0, l = nodeList.length; i < l; i++) {
                  nodeList[i].highlight = highlight;
                  treeObj.updateNode(nodeList[i]);
               }
            }

         })
      </script>
   </body>

</html>