<!DOCTYPE html>
<html lang="en" class="flowinfo-dialog flowInfoCtrl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>选择流程</title>
		<link rel="stylesheet" type="text/css" href="../../../res/libs/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/dsf_style.css" />
		<link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../../res/libs/zTree/css/zTreeStyle/zTreeStyle.css" />
	</head>

	<body>
		<div class="ds_tree_box">
			<div class="ds_tree_search">
				<input type="text" class="layui-input" placeholder="输入名称" id='search_input'>
				<i class="search iconfont layui-icon icon-Magnifier" id='search'></i>
			</div>
			<div class="ds_tree">
				<ul id="tree" class="ztree"></ul>
			</div>
		</div>

		<script src="../../../res/libs/jquery-1.12.4.min.js"></script>
		<script src="../../../res/libs/layui/layui.all.js"></script>
		<script src="../../../res/libs/lodash/lodash.min.js"></script>
		<script src="../../../app.js"></script>
		<script src="../../../res/dsf_res/dsf_config.js"></script>
		<script src="../../../res/dsf_res/dsf_common.js"></script>
		<script src="../res/ds_prop.js"></script>
		<script src="../../../dsfa/bhc/hc/bhc.js"></script>
		<script src="../../../res/libs/zTree/js/jquery.ztree.all.min.js"></script>
		<script>
			var tree = null;
			var dialogArgs = null;
			var nodeList = [];
			var loadIndex = dsf.layer.loadding();
			$('#search').on('click', function(e) {
				search();
			});
			$('#search_input').on('keyup', function(e) {
				if ((window.event ? e.keyCode : e.which) == 13)
					search();
			});

			function search() {
				updateNodes(false);
				var v = $('#search_input').val();
				if (v == '' || !v) return;
				nodeList = tree.getNodesByParamFuzzy('name', v);
				if (nodeList.length > 0) tree.selectNode(nodeList[0], false, false);
				updateNodes(true);
			}

			function getFontCss(treeId, treeNode) {
				return (!!treeNode.highlight) ? {
					color: "#A60000",
					"font-weight": "bold"
				} : {
					color: "#333",
					"font-weight": "normal"
				};
			}

			function updateNodes(highlight) {
				for (var i = 0, l = nodeList.length; i < l; i++) {
					nodeList[i].highlight = highlight;
					tree.updateNode(nodeList[i]);
				}
			}
			window.dialogInit = function(args) {
				dialogArgs = args;
				tree = $.fn.zTree.init($("#tree"), {
					view: {
						selectedMulti: false,
						fontCss: getFontCss
					},
					check: {
						enable: true,
						chkStyle: "radio",
						radioType: "all"
					},
					callback: {
						onClick: zTreeOnClick,
						onCheck: zTreeOnCheck,
					}
				});

				dsf.http.request(dsf.url.getWebPath("rm/list/wf"), {}, "GET")
					.done(function(response) {
						if (response.success) {
							var nodes = response.data;
							fn(nodes)
							tree.addNodes(null, nodes);
							tree.expandAll(true);
						}else{
							dsf.layer.message("获取流程失败",false)
						}
					})
					.error(function(response) {
						dsf.layer.message("获取流程失败",false)
					})
					.always(function(){
						dsf.layer.close(loadIndex)
					})
					.exec();
			}

			function fn(nodes) {
				for (let i = 0; i < nodes.length; i++) {
					var node = nodes[i];
					if (node.ID == dialogArgs.owner.chooseFlow.ID) {
						zTreeOnClick("", "", node);
						zTreeOnCheck("", "", node);
					}
					if (node.type_value != "4") {
						node.nocheck = true;
					}
					if (node.type_value != '4' && !node.children) {
						node.iconSkin = '_special';
					}
					if (node.children) {
						fn(node.children)
					}
				}
			}

			window.getDialogResult = function() {
				var row = tree.getCheckedNodes();
				if (row.length <= 0) {
					dsf.layer.message("请选择一个流程", false);
					return false;
				} else {
					return row[0];
				}
			}

			function zTreeOnClick(event, treeId, treeNode) {
				tree.checkNode(treeNode, true);
			}

			function zTreeOnCheck(event, treeId, treeNode) {
				tree.selectNode(treeNode, false);
			}
		</script>
	</body>

</html>
