<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>查询条件配置</title>
    <link rel="stylesheet" type="text/css" href="../../../res/libs/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/dsf_style.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/libs/zTree/css/zTreeStyle/zTreeStyle.css" />

    <style>
      body {
        height: auto;
      }

      .error {
        border: 1px solid red;
      }

      .form-control {
        box-sizing: border-box;
        width: 100%;
        min-height: 28px;
        padding-left: 5px;
        padding-right: 5px;
      }

      table > tbody td {
        padding: 5px !important;
      }
    </style>
  </head>

  <body ng-controller="dataGridColumnEdit">
    <div class="layui-row" style="position:absolute;top:0px;left:0px;right:0px;bottom:0px;">
      <div class="layui-col-xs3" style="height:100%;overflow:auto;bottom:0px;border-right:1px solid #eee">
        <ul id="tree" class="ztree"></ul>
      </div>
      <div class="layui-col-xs9" style="padding:10px">
        <table class="layui-table">
          <thead>
            <tr>
              <th style="width:40px;text-align: center">序号</th>
              <th style="width:100px;">名称</th>
              <th>标识</th>
              <th style="width:100px;">默认排序方式</th>
              <th style="width:100px;" ng-if="customer">对应列</th>
              <th style="width:150px;text-align: center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in list track by $index">
              <td style="text-align: center">{{$index+1}}</td>
              <td>
                <input class="form-control" type="text" ng-model="item.aliasName" />
              </td>
              <td>
                <div class="layui-table-cell">{{item.id}}</div>
              </td>
              <td>
                <select class="form-control" ng-model="item.sortType">
                  <option value="" ng-if="customer">不参与</option>
                  <option value="asc">升序</option>
                  <option value="desc">降序</option>
                </select>
              </td>
              <td ng-if="customer">
                <select class="form-control" ng-model="item.col" ng-options="x.value as x.text for x in cols"></select>
              </td>
              <td style="text-align: center">
                <a href="#" ng-click="up(item)">上移</a>
                <a href="#" ng-click="down(item)">下移</a>
                <a href="#" ng-click="deleteItem(item)">移除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="../../../res/libs/jquery-1.12.4.min.js"></script>
    <script src="../../../res/libs/layui/layui.all.js"></script>
    <script src="../../../res/libs/lodash/lodash.min.js"></script>

    <script src="../../../app.js"></script>
    <script src="../../../res/dsf_res/dsf_config.js"></script>
    <script src="../../../res/dsf_res/dsf_common.js"></script>
    <script src="../res/ds_prop.js"></script>
    <script src="../res/libs/angular/angular.min.js"></script>
    <script src="../../../res/libs/zTree/js/jquery.ztree.all.min.js"></script>
    <script>
      var app = angular.module("myApp", []);
      var dialogArgs = {};
      var tree = null,
        tree1 = null,
        nodeList = [],
        TabNum = 0,
        nodeListOther = [],
        metaDataList = [];
      app.controller("dataGridColumnEdit", function($scope) {
        $scope.args = null;
        $scope.last = null;
        $scope.customer = dsf.url.queryString("customer") == "1";

        $scope.deleteItem = function(item) {
          var index = $scope.list.indexOf(item);
          if (index >= 0) {
            $scope.list.splice(index, 1);
            var node = tree.getNodeByParam("id", item.id, null);
            tree.checkNode(node, false);
          }
        };

        $scope.up = function(item) {
          var index = $scope.list.indexOf(item);
          if (index > 0) {
            var tmp = $scope.list[index - 1];
            $scope.list[index - 1] = item;
            $scope.list[index] = tmp;
          }
        };

        $scope.down = function(item) {
          var index = $scope.list.indexOf(item);
          if (index >= 0) {
            var tmp = $scope.list[index + 1];
            if (tmp) {
              $scope.list[index + 1] = item;
              $scope.list[index] = tmp;
            }
          }
        };

        window.dialogInit = function(args) {
          $scope.args = $.extend(true, {}, args);
          $scope.list = $scope.args.value || [];
          $scope.cols = [
            {
              text: "无",
              value: "",
            },
          ];
          for (let i = 0; i < args.owner.lastColumn.length; i++) {
            $scope.cols.push({
              text: args.owner.lastColumn[i].text,
              value: args.owner.lastColumn[i].id,
            });
          }
          $scope.$apply();
          metaDataList = args.owner.getCurrentMetaData();
          initTree();
        };

        window.getDialogResult = function() {
          // return $scope.args.value
          //   console.log(JSON.stringify($scope.list) == JSON.stringify($scope.args.value));
          return $scope.list;
        };

        function initTree() {
          tree = $.fn.zTree.init($("#tree"), {
            view: {
              selectedMulti: false,
              fontCss: getFontCss,
            },
            check: {
              enable: true,
            },
            callback: {
              onClick: zTreeOnClick,
              onCheck: zTreeOnCheck,
            },
          });
          if (metaDataList.length > 0) {
            if (!metaDataList[0].rmId) {
              var metaId = metaDataList[0].at;
              dsf.http
                .request(
                  dsf.UrlSetting.design_metadata,
                  {
                    namespace: metaId,
                  },
                  "GET"
                )
                .done(function(response) {
                  if (response.success) {
                    var nodes = response.data;
                    for (var i = 0; i < nodes.length; i++) {
                      var node = nodes[i];
                      if (node.ID == metaId) {
                        fn(node);
                        tree.addNodes(null, [node]);
                        tree.expandAll(true);
                        break;
                      }
                    }
                  }
                })
                .error(function(response) {})
                .exec();
            } else {
              var args = {
                rmId: metaDataList[0].rmId,
              };
              dsf.http
                .request(dsf.UrlSetting.design_dbsource, args, "GET")
                .done(function(response) {
                  var nodes = response.data;
                  for (var i = 0; i < nodes.length; i++) {
                    var node = nodes[i];
                    fn(node);
                    tree.addNodes(null, [node]);
                    tree.expandAll(true);
                    break;
                  }
                })
                .error(function(response) {
                  callback(response, null);
                })
                .exec();
            }
          } else {
            dsf.layer.message("未找到相关元数据", false);
          }
        }

        function fn(node, metaId) {
          if (node.type_value == "3") {
            node.nocheck = true;
          }
          if (node.metadata) {
            var children = [];
            for (var k in node.metadata) {
              var n = node.metadata[k];
              if (n.valueAttributes.length == 1) {
                var n1 = {
                  name: n.name || n.code,
                  id: n.id,
                  order: n.order,
                  field: n.code,
                  metadatacode: n.id,
                };
                n1.attr = $.extend({}, n1);
                children.push(n1);
              } else if (n.valueAttributes.length > 1) {
                _.each(n.valueAttributes, function(va, i) {
                  var n1 = {
                    name: (n.name || n.code) + "(" + va.name + ")",
                    id: n.id + "_" + va.code,
                    order: parseFloat(n.order + "." + i),
                    field: n.code + "_" + va.code,
                    metadatacode: n.id,
                  };
                  n1.attr = $.extend({}, n1);
                  children.push(n1);
                });
              }
            }
            children = children.sort(function(v1, v2) {
              let o1 = parseFloat(v1.order);
              let o2 = parseFloat(v2.order);
              return o1 > o2 ? 1 : -1;
            });
            node.children = children;
          }
        }

        function getFontCss(treeId, treeNode) {
          return !!treeNode.highlight
            ? {
                color: "#A60000",
                "font-weight": "bold",
              }
            : {
                color: "#333",
                "font-weight": "normal",
              };
        }

        function zTreeOnClick(event, treeId, treeNode) {
          window[treeId].checkNode(treeNode, !treeNode.checked, false, true);
        }

        function zTreeOnCheck(event, treeId, treeNode) {
          var result = $scope.list.filter(function(v) {
            return v.id == treeNode.id;
          });
          if (result.length > 0) {
            $.extend(true, {}, result, treeNode.attr);
          } else {
            treeNode.attr.col = "";
            treeNode.attr.sortType = $scope.customer ? "" : "asc";
            treeNode.attr.aliasName = treeNode.attr.name;
            var r = $.extend(true, {}, treeNode.attr);
            $scope.list.push(r);
          }
          $scope.$apply();
        }
      });
    </script>
  </body>
</html>
