<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>套打设计器</title>
    <link rel="stylesheet" type="text/css" href="../../../res/libs/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/libs/zTree/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/dsf_style.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/bhc.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/libs/zTree/css/zTreeStyle/zTreeStyle.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/libs/jquery-ui/jquery-ui.min.css" />
</head>

<body>
    <div id="view">
    </div>
</body>
<script src="../../../res/libs/jquery-1.12.4.min.js"></script>
<script src="../../../res/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="../../../res/libs/layui/layui.all.js"></script>
<script src="../../../res/libs/lodash/lodash.min.js"></script>
<script src="../../../app.js"></script>
<script src="../../../res/dsf_res/dsf_config.js"></script>
<script src="../../../res/dsf_res/dsf_common.js"></script>
<script src="../../../res/dsf_res/dsf_seat_layout.js"></script>
<script src="../../../res/libs/zTree/js/jquery.ztree.all.min.js"></script>
<script src="../../../res/libs/zTree/js/jquery.ztree.exhide.min.js"></script>

<script src="../../../dsfa/bhc/hc/bhc.js"></script>
<script src="../../../dsfa/pd/hc/pd.js"></script>
<script>
    $(document).ready(function() {
        let tid = dsf.url.queryString("id");
        var opt = dsf.url.queryString("opt") || "";
        var s = new dsf.PD.printingDesign('seatdesign');
        s._templateId = tid;
        s.isDesign = true;
        s.render(document.getElementById('view'));
    })
</script>

</html>