<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../../res/libs/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/dsf_style.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/libs/zTree/css/zTreeStyle/zTreeStyle.css" />
</head>

<body>
    <div class="layui-container">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">水平对齐：</label>
                <div class="layui-input-block">
                    <input type="radio" name="align" value="left" title="居左" />
                    <input type="radio" name="align" value="center" title="居中" checked />
                    <input type="radio" name="align" value="right" title="居右" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">垂直对齐：</label>
                <div class="layui-input-block">
                    <input type="radio" name="valign" value="top" title="居上" />
                    <input type="radio" name="valign" value="middle" title="居中" checked />
                    <input type="radio" name="valign" value="bottom" title="居下" />
                </div>
            </div>
        </form>
    </div>
    <script src="../../../res/libs/jquery-1.12.4.min.js"></script>
    <script src="../../../res/libs/layui/layui.all.js"></script>
    <script src="../../../res/libs/lodash/lodash.min.js"></script>
    <script src="../../../app.js"></script>
    <script src="../../../res/dsf_res/dsf_config.js"></script>
    <script src="../../../res/dsf_res/dsf_common.js"></script>
    <script src="../res/ds_prop.js"></script>
    <script>
        let data = {
            "align": "center",
            "valign": "middle"
        };
        window.dialogInit = function(args) {
            for (var i = 0; i < args.length; i++) {
                var cell = args.eq(i);
            }
            if (args.length == 1) {
                var cell = args.eq(0);
                data.align = cell.css("text-align");
                data.valign = cell.css("vertical-align");
                $("[name=align][value=" + data.align + "]").prop("checked", true);
                $("[name=valign][value=" + data.valign + "]").prop("checked", true);
            }
            layui.form.render(null);
        }
        window.getDialogResult = function() {
            data.align=$("[name=align]:checked").val();
            data.valign=$("[name=valign]:checked").val();
            console.log(data);
            return data;
        }
    </script>
</body>

</html>