<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>步骤导航内容设置</title>
    <link rel="stylesheet" type="text/css" href="../../../res/libs/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/dsf_style.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../res/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../res/components.css" />
    <style>
        .error {
            border: 1px solid red;
        }
    </style>
</head>

<body ng-controller="dataGridColumnEdit">
    <div class="container-fluid dialog_container" style="width:100%;position:fixed;height:68px;top:0px;background-color:#fff;z-index:10">
        <div class="row">
            <div class="col-xs-12">
                <a class="ds_button" style="float: right" ng-click="addNew()">新增</a>
            </div>
        </div>

    </div>

    <div class="container-fluid dialog_container;" style="margin-top:68px;">
        <div class="row">
            <div class="col-xs-12">
                <table id="table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center">步骤编号</th>
                            <th style="text-align: center">步骤名称</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="step in args.value track by $index">
                            <td style="width:120px">
                                <input name="stepNum_{{$index}}" class="form-control" type="text" ng-model="step.num" ng-value="step.num">
                            </td>
                            <td>
                                <input name="stepName_{{$index}}" class="form-control" type="text" ng-model="step.name" ng-value="step.name">
                            </td>
                            <td style="width:120px;vertical-align: middle;text-align: center">
                                <a ng-click="sort(step,'up')">上移</a>
                                <a ng-click="sort(step,'down')">下移</a>
                                <a ng-click="deleteItem(step)">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script src="../../../res/libs/jquery-1.12.4.min.js"></script>
    <script src="../../../res/libs/layui/layui.all.js"></script>
    <script src="../../../res/libs/lodash/lodash.min.js"></script>

    <script src="../../../app.js"></script>
    <script src="../../../res/dsf_res/dsf_config.js"></script>
    <script src="../../../res/dsf_res/dsf_common.js"></script>
    <script src="../res/ds_prop.js"></script>
    <script src="../res/libs/angular/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        var dialogArgs = {};
        app.controller('dataGridColumnEdit', function($scope) {
            $scope.args = null;
            $scope.last = null;
            $scope.addNew = function() {
                // $scope.last.push({
                //     "id":dsf.uuid(),
                //     "num": $scope.last.length + 1,
                //     "name": "step"+($scope.last.length + 1),
                //     "sort": "0",
                //     "hide": "0"
                // })
                $scope.last.push({
                    "id": dsf.uuid(),
                    "num": $scope.last.length + 1,
                    "name": "step" + ($scope.last.length + 1),
                    "sort": "0",
                    "hide": "0"
                })
            }

            $scope.deleteItem = function(item) {
                var index = $scope.last.indexOf(item);
                if (index >= 0) {
                    $scope.last.splice(index, 1);
                }
            }

            $scope.sort = function(item, type) {
                var index = $scope.last.indexOf(item);
                if (index >= 0) {
                    if (type == "up") {
                        if (index > 0) {
                            let prev = $scope.last[index - 1];
                            $scope.last[index - 1] = item;
                            $scope.last[index] = prev;
                            item.num = index;
                            prev.num = index + 1;
                        }
                    } else {
                        if (index < $scope.last.length - 1) {
                            let next = $scope.last[index + 1];
                            $scope.last[index + 1] = item;
                            $scope.last[index] = next;
                            item.num = index + 1 + 1;
                            next.num = index + 1;
                        }
                    }
                }
            } 

            window.dialogInit = function(args) {
                $scope.args = $.extend(true, {}, args);
                // $scope.last = $scope.args.value[$scope.args.value.length - 1];
                $scope.last = $scope.args.value;
                $scope.$apply();
            }

            window.getDialogResult = function() {
                for (var i = 0; i < $scope.last.length; i++) {
                    var r = $scope.last[i];
                    if (!vaildate(r, "num", i, "required", "请填写步骤编号")) {
                        return false;
                    }
                    if (!vaildate(r, "name", i, "required", "请填写步骤名称")) {
                        return false;
                    }
                }
                return $scope.args.value;
            }

            function vaildate(r, key, index, vaildateType, message) {
                var result = true;
                if (vaildateType == "required") {
                    if (!$.trim(r[key])) {
                        result = false;
                    }
                } else if (vaildateType == "metadatename") {
                    if (!dsf.metadata.vaildateMetaName(r[key])) {
                        result = false;
                    }

                }
                if (!result) {
                    let control = $("[name='" + key + "_" + index + "']");
                    control.addClass("error");
                    control.one("click", function(evt) {
                        control.removeClass("error");
                        return false;
                    });
                    dsf.Dom.scrollToElement(control, -78);
                    dsf.layer.message(message, false);
                    return false;
                }
                return true;
            }
        });
    </script>
</body>

</html>