<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../../res/libs/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/dsf_style.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../res/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../res/components.css" />
    <style>
        .error {
            border: 1px solid red;
        }
    </style>
</head>

<body ng-controller="myController">
    <div class="container-fluid dialog_container" style="width:100%;position:fixed;height:68px;top:0px;background-color:#fff;z-index:10">
        <div class="row">
            <div class="col-xs-12">
                <a class="ds_button" style="float: right" ng-click="addNew()">新增</a>
            </div>
        </div>

    </div>

    <div class="container-fluid dialog_container;" style="margin-top:68px;">
        <div class="row" ng-cloak>
            <div class="col-xs-12">
                <table id="table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center">页签</th>
                            <th>初始化是否禁用</th>
                            <th>是否隐藏</th>
                            <th ng-if='showBadge' style="text-align: center">徽章请求方法</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="col in data track by $index" ng-if='!col.hide'>
                            <td>
                                <input name="title_{{$index}}" class="form-control" type="text" ng-model="col.title"
                                    placeholder="请输入页签">
                            </td>
                            <td>
                                <select name="disable_{{$index}}" class="form-control" ng-model="col.disable">
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </td>
                            <td>
								<input name="isShow_{{$index}}" class="form-control" type="text" ng-model="col.isHide"
								    placeholder="支持表达式">
                            </td>
                            <td ng-if='showBadge'>
                                <input name="badge_{{$index}}" class="form-control" type="text" ng-model="col.badge">
                            </td>
                            <td class="op" style="min-width:180px;vertical-align: middle;text-align: center" ng-class='{"hasBadge":!showBadge}'>
                                <a ng-click="moveUp($index,col)">上移</a>
                                <a ng-click="moveDown($index,col)">下移</a>
                                <!-- 因为之前需要删除容器，才使用hide比作删除 -->
                                <a ng-click="col.hide=true">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script src="../../../res/libs/jquery-1.12.4.min.js"></script>
    <script src="../../../res/libs/layui/layui.all.js"></script>
    <script src="../../../res/libs/lodash/lodash.min.js"></script>
    
    <script src="../../../app.js"></script>
    <script src="../../../res/dsf_res/dsf_config.js"></script>
    <script src="../../../res/dsf_res/dsf_common.js"></script>
    <script src="../res/ds_prop.js"></script>
    <script src="../res/libs/angular/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myController', function ($scope) {
            $scope.data = [];
            window.dialogInit = function (args) {
                $scope.showBadge = args.attr.config.hasBadge || false;
                $scope.data = $.extend(true, [], args.value);
                $scope.$apply();
            }
            $scope.addNew = function () {
                $scope.data.push({
                    "title": "Tab",
                    "id": dsf.uuid(),
                    "disable":"0",
                    "isHide":0
                })
            }
            // 往上移
            $scope.moveUp = function (key, row) {
                for (var i = key - 1; i >= 0; i--) {
                    if (!$scope.data[i].hide) {
                        var temp = $scope.data[i];
                        $scope.data[i] = row;
                        $scope.data[key] = temp;
                        return;
                    }
                }
            }
            // 往下移
            $scope.moveDown = function (key, row) {
                for (var i = key + 1; i < $scope.data.length; i++) {
                    if (!$scope.data[i].hide) {
                        var temp = $scope.data[i];
                        $scope.data[i] = row;
                        $scope.data[key] = temp;
                        return;
                    }
                }
            }

            window.getDialogResult = function () {
                for (var i = 0; i < $scope.data.length; i++) {
                    var r = $scope.data[i];
                    if (r.hide) continue;
                    if (!vaildate(r, "title", i, "required", "请输入页签")) {
                        return false;
                    }
                }
                return $scope.data;
            }

            function vaildate(r, key, index, vaildateType, message) {
                var result = true;
                if (vaildateType == "required") {
                    if (!$.trim(r[key])) {
                        result = false;
                    }
                } else if (vaildateType == "metadatename") {
                    if (!dsf.metadata.vaildateMetaName(r[key])) {
                        result = false;
                    }

                }
                if (!result) {
                    let control = $("[name='" + key + "_" + index + "']");
                    control.addClass("error");
                    control.one("click", function (evt) {
                        control.removeClass("error");
                        return false;
                    });
                    dsf.Dom.scrollToElement(control, -78);
                    dsf.layer.message(message, false);
                    return false;
                }
                return true;
            }
        });
    </script>
</body>

</html>