<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../../res/libs/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/dsf_style.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/font/iconfont.css" />
    <style>
        body {
            background-color: #F2F2F2;
        }
        
        .layui-anim-upbit {
            z-index: 999999999999999 !important;
        }
        
        div.layui-table-cell {
            overflow: visible;
        }
        
        #card1,
        #card2,
        #card3 {
            display: none;
        }
    </style>
</head>

<body>
    <div class="layui-container" style="padding-top:10px;padding-bottom:10px;">
        <div class="layui-form" id="validateForm" lay-filter="validate">
            <div class="layui-card" id="card2">
                <div class="layui-card-header">校验规则</div>
                <div class="layui-card-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否必填：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="required" value="1" title="是" />
                            <input type="radio" name="required" value="0" title="否" checked />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">验证规则：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="type" value="0" title="无" checked/>
                            <input type="radio" name="type" value="1" title="正则表达式" />
                            <input type="radio" name="type" value="2" title="函数" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">表达式：</label>
                        <div class="layui-input-block">
                            <input type="text" name="express" placeholder="正则表达式/函数" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">最小值：</label>
                        <div class="layui-input-block">
                            <input type="text" name="min" placeholder="文本类型为最小字符长度/数字类型为最小数值" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">最大值：</label>
                        <div class="layui-input-block">
                            <input type="text" name="max" placeholder="文本类型为最大字符长度/数字类型为最大数值" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../res/libs/jquery-1.12.4.min.js"></script>
    <script src="../../../res/libs/layui/layui.all.js"></script>
    <script src="../../../res/libs/lodash/lodash.min.js"></script>
    
    <script src="../../../app.js"></script>
    <script src="../../../res/dsf_res/dsf_config.js"></script>
    <script src="../../../res/dsf_res/dsf_common.js"></script>
    <script src="../res/ds_prop.js"></script>
    <!-- <script src="../hc/control_mm_map.js"></script> -->
    <!-- <script src="../../../res/libs/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../../../res/libs/datatables/js/dataTables.bootstrap.min.js"></script> -->
    <script>
        let table = layui.table;
        let dialogArgs = null;
        let data = {};

        $(document).ready(function(){
            $("#card2").show();
            loadData(args);
        })

        window.dialogInit = function(args) {
            dialogArgs = args;
            $("#card2").show();
            
        }

        function loadData(args) {
            if (args) {
                //绑定验证数据
                data.required = args.required ? "1" : "0";
                data.express = args.express;
                data.type = args.type;
                data.max = args.max;
                data.min = args.min;
            }
            layui.form.render(null);
            layui.form.val("validate", data);
        }

        // window.updateForm = function(args) {
        //     var newArgs = $.extend({}, args);
        //     loadData(newArgs);
        //     loadTable();
        // }
        window.getDialogResult = function(opener) {
            opener=opener||window.self
            var result = {};
            var baseForm = $("#baseForm");
            var validateForm = $("#validateForm");
            result = {};
            result.required = validateForm.find("input[name=required]:checked").val() == "1" ? true : false;
            result.type = validateForm.find("input[name=type]:checked").val();
            result.express = validateForm.find("input[name=express]").val();
            result.min = validateForm.find("input[name=min]").val();
            result.max = validateForm.find("input[name=max]").val();
            if (result.type == "1" || result.type == "2") {
                if (!$.trim(result.express)) {
                    
                    opener.dsf.layer.message("请填写表达式", 5);
                    return false;
                }
            }
            return result;
        }
    </script>

</body>

</html>