<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>值属性编辑</title>
    <link rel="stylesheet" type="text/css" href="../../../res/libs/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/dsf_style.css" />
    <link rel="stylesheet" type="text/css" href="../../../res/dsf_styles/font/iconfont.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../res/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../res/components.css" /> -->
    <style>
        .error {
            border: 1px solid red;
        }
        
        .form-control {
            box-sizing: border-box;
            width: 100%;
            min-height: 30px;
            padding-left: 5px;
            padding-right: 5px;
        }
        
        table>tbody td {
            padding: 5px !important;
        }
    </style>
</head>

<body ng-controller="dataGridColumnEdit">
    <div style="width:100%;position:fixed;top:0px;background-color:#fff;z-index:10">
        <div class="layui-row">
            <div class="layui-col-xs12" style="padding:10px;text-align: right">
                <a class="ds_button" ng-click="openSytemButtons()"><i class="iconfont icon-sousuofangda layui-icon"></i>新增</a>
            </div>
        </div>
    </div>
    <div style="margin-top:58px;padding:10px;">
        <div class="row">
            <div class="col-xs-12">
                <table id="table" class="layui-table">
                    <thead>
                        <tr>
                            <th style="text-align: center">序号</th>
                            <th style="text-align: center">描述</th>
                            <th style="text-align: center">标识</th>
                            <th style="text-align: center">别名</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="button in args.value track by $index">
                            <td style="width:60px;text-align:center">{{$index+1}}</td>
                            <td style="width:80px">
                                <input name="text_{{$index}}" class="form-control" type="text" ng-model="button.text">
                            </td>
                            <td style="width:120px">
                                <input name="icon_{{$index}}" class="form-control" type="text" ng-model="button.icon">
                            </td>
                            <td style="width:100px">
                                <select name="style_{{$index}}" class="form-control" ng-model="button.style">
                                    <option value="0">主要按钮</option>
                                    <option value="1">次要按钮</option>
                                    <option value="2">仅图标</option>
                                    <option value="4">图标文字</option>
                                    <!-- <option value="2">大图标加文字</option> -->
                                </select>
                            </td>
                            <td style="width:60px">
                                <select name="size_{{$index}}" class="form-control" ng-model="button.size">
                                    <option value="">默认</option>
                                    <option value="small">小</option>
                                </select>
                            </td>
                            <td style="width:100px">
                                <select name="show_{{$index}}" class="form-control" ng-model="button.show">
                                    <option value="default">默认显示</option>
                                    <option value="more">被折叠的</option>
                                </select>
                            </td>
                            <td style="width:100px">
                                <div ng-if="button.isSystem" title="{{button.actionName}}" style="width:100px" class="ellipsis">
                                    {{button.actionName}}
                                </div>
                                <div ng-if="!button.isSystem">
                                    <input name="event_{{$index}}" class="form-control" type="text" ng-model="button.actionName">
                                </div>
                            </td>
                            <td>
                                <input name="arg_{{$index}}" placeholder="多个参数以;分隔" class="form-control" type="text" ng-model="button.actionArgs">
                            </td>
                            <td style="width:120px;vertical-align: middle;text-align: center">
                                <a ng-click="sort(button,'up')">上移</a>
                                <a ng-click="sort(button,'down')">下移</a>
                                <a ng-click="deleteItem(button)">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../../../res/libs/jquery-1.12.4.min.js"></script>
    <script src="../../../res/libs/layui/layui.all.js"></script>
    <script src="../../../res/libs/lodash/lodash.min.js"></script>
    <script src="../../../app.js"></script>
    <script src="../../../res/dsf_res/dsf_config.js"></script>
    <script src="../../../res/dsf_res/dsf_common.js"></script>
    <script src="../res/ds_prop.js"></script>
    <script src="../res/libs/angular/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        var dialogArgs = {};
        app.controller('dataGridColumnEdit', function($scope) {
            $scope.args = null;
            $scope.last = null;
            $scope.addNew = function() {
                $scope.args.value.buttons.push({
                    "text": "",
                    "actionName": "",
                    "icon": "",
                    "style": "0",
                    "show": "default",
                    "isSystem": false,
                    "actionArgs": ""
                })
            }

            $scope.deleteItem = function(item) {
                var index = $scope.args.value.buttons.indexOf(item);
                if (index >= 0) {
                    $scope.args.value.buttons.splice(index, 1);
                }
            }

            $scope.sort = function(item, type) {
                var index = $scope.args.value.buttons.indexOf(item);
                if (index >= 0) {
                    if (type == "up") {
                        if (index > 0) {
                            let prev = $scope.args.value.buttons[index - 1];
                            $scope.args.value.buttons[index - 1] = item;
                            $scope.args.value.buttons[index] = prev;
                        }
                    } else {
                        if (index < $scope.args.value.buttons.length - 1) {
                            let next = $scope.args.value.buttons[index + 1];
                            $scope.args.value.buttons[index + 1] = item;
                            $scope.args.value.buttons[index] = next;
                        }
                    }
                }
            }

            $scope.openSytemButtons = function() {
                window.parent.dsf.layer.openDialog({
                    title: "请选择",
                    content: '../views/systemButtons.html',
                    area: ['400px', '500px'],
                    btn: [{
                        text: "确定",
                        handler: function(index, layero) {
                            let frame = layero.find("iframe");
                            let win = frame.get(0).contentWindow;
                            let result = win.getDialogResult();
                            $scope.args.value.buttons = $scope.args.value.buttons.concat(result);
                            $scope.$apply();
                        }
                    }, {
                        text: "取消",
                        handler: function(index, layero) {

                        }
                    }]
                });
            }

            window.dialogInit = function(args) {
                $scope.args = $.extend(true, {}, args);
                // $scope.buttons = $scope.args.value.buttons;
                $scope.$apply();
            }

            window.getDialogResult = function() {
                return $scope.args.value;
            }
        });
    </script>
</body>

</html>