<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>#(pageTitle)</title>
    <link rel="stylesheet" type="text/css" href="#(webRoot)/res/libs/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="#(webRoot)/res/libs/zTree/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" type="text/css" href="#(webRoot)/res/dsf_styles/dsf_style.css" />
    <link rel="stylesheet" type="text/css" href="#(webRoot)/res/dsf_styles/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="#(webRoot)/res/dsf_styles/bhc.css" />
    <link rel="stylesheet" type="text/css" href="../hc/#(pageName).ext.css" />
</head>
<body>
    <div id="view" ></div>
    <script src="#(webRoot)/res/libs/jquery-1.12.4.min.js"></script>
    <script src="#(webRoot)/res/libs/layui/layui.all.js"></script>
    <script src="#(webRoot)/res/libs/lodash/lodash.min.js"></script>
    <!-- <script src="#(webRoot)/res/libs/zTree/js/jquery.ztree.all.min.js"></script> -->
    <script src="#(webRoot)/app.js"></script>
    <script src="#(webRoot)/res/dsf_res/dsf_config.js"></script>
    <script src="#(webRoot)/res/dsf_res/dsf_common.js"></script>
    <script src="#(webRoot)/dsfa/bhc/hc/bhc.js"></script>
    <script src="../hc/#(pageName).layout.js?i=#(StrKit.uuid())"></script>
    <script src="#(webRoot)/dsfa/bhc/scripts/page.init.js"></script>
    <script src="../hc/#(pageName).ext.js"></script>
    <script src="../hc/#(pageName).ev.js"></script>

</body>

</html>