<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport
        content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
  <meta name=format-detection content="telephone=no,email=no,adress=no">
  <meta name=renderer content=webkit>
  <meta name=format-detection content="telephone=yes">
  <meta name=apple-mobile-web-app-capable content=yes>
  <meta name=full-screen content=true>
  <meta name=x5-fullscreen content=true>
  <meta name=360-fullscreen content=true>
  <meta name=browsermode content=application>
  <meta name=x5-page-mode content=app>
  <meta name=apple-mobile-web-app-status-bar-style content=black-translucent>
  <title>页面</title>
  <style>
    .init-div {
      position: absolute;
      width: 100%;
      height: 20px;
      line-height: 20px;
      margin-top: -20px;
      top: 50%;
      font-size: 14px;
      color: #7f7a7a;
      text-align: center;
    }
  </style>
  <script src="../../../../../../..//mobile/res/global.js"></script>
  <link href="../../../../../../..//mobile/res/bhc.css" rel=stylesheet type="text/css" />
  <link href="../hc/edit.ext.css" rel=stylesheet type="text/css" />
</head>
<body>
<div id=app>
  <div class=init-div>正在初始化...</div>
</div>
<script>
  function isWeChatApplet() {
    var ua = window.navigator.userAgent.toLowerCase();
    if (ua.indexOf('micromessenger') == -1) {//不在微信或者小程序中
      return false
    } else {
      return true
    }
  }
  if(isWeChatApplet()){
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js";
    document.body.appendChild(script);
  }
</script>

  <script src="../../../../../../..//mobile/res/zepto.min.js"></script>
  <script src="../hc/edit.layout.js?i=07fc816517644fe1ac0d02fd49633762"></script>
  <script src="../hc/edit.ext.js"></script>
  <script src="../hc/edit.ev.js"></script>
  <script src="../../../../../../..//mobile/bhc/bhc.js"></script>

</body>
</html>